.menu-text {
    color: #666;
}

body {
    background: #eee;
}

.button.secondary {
    background-color: #767676;
    color: white;
}

.footer {
    background: #cacaca;
    padding: 50px 0 50px 0;
}

.footer small {
    color: white;
}

.footer b {
    color: #767676;
}

.icons i, h3 {
    color: #444444;
}

.footer ul li {
    color: #eee;
}