<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Universal Internet of Things Web Page">
    <meta name="keywords" content="IoT,IoE,Internet of Things,Machine Learning,Big Data,Automation,Home Automation,Universal IoT,Universal Internet of Things">
    <meta name="author" content="Universal Internet of Things">
    <meta name="theme-color" content="#7AA5BF">
    <meta name=”robots” content=”follow”>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}"/>
    <link rel="stylesheet" href="{{ '/css/foundation.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/uiot.css' | absolute_url }}">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://uiot.org",
      "logo": "https://uiot.github.io/img/uiot-final.png",
      "name": "Universal Internet of Things",
      "alternateName": "UIoT",
      "sameAs": [
        "http://www.facebook.com/universalinternetofthings",
        "https://www.youtube.com/channel/UCxgSdXcXLECqYB5mOSK5btQ"
      ]
    }
    </script>
</head>
