<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Universal Internet of Things Web Page">
    <meta name="keywords" content="IoT,IoE,Internet of Things,Machine Learning,Big Data,Automation,Home Automation">
    <meta name="author" content="Universal Internet of Things">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}"/>
    <link rel="stylesheet" href="{{ '/css/foundation.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/uiot.css' | absolute_url }}">
</head>