<section class="header-section">
    <video id="home_video" class="hide-for-small-only" autoplay muted loop>
        <source src="{{ '/img/vid/corporate.webm' | absolute_url }}" type="video/webm">
        <source src="{{ '/img/vid/corporate.mp4' | absolute_url }}" type="video/mp4">
    </video>
    <div class="header row">
        <div class="hide-for-small-only large-6 medium-6 columns">
            <a href="{{ '/' | absolute_url }}">
                <img src="{{ '/img/uiot.svg' | absolute_url }}"/>
            </a>
        </div>
        <div class="hide-for-small-only large-6 medium-6 columns">
            <ul>
                <li class="active"><a href="{{ '/' | absolute_url }}">Home</a></li>
                <li><a href="{{ '/about' | absolute_url }}">About</a></li>
                <li><a href="{{ '/blog' | absolute_url }}">Blog</a></li>
                <li><a href="{{ '/start' | absolute_url }}">Get Started</a></li>
            </ul>
        </div>
    </div>
    <div class="main row">
        <div class="hide-for-small-only large-7 medium-6 columns">
            <img style="display:none" src="{{ '/img/iot.png' | absolute_url }}"/>
        </div>
        <div class="right large-5 medium-6 columns">
            <h1 class="hide-for-small-only">Universal Internet of Things</h1>
            <h1 class="show-for-small-only" style="font-size: 330%;line-height: 50px;">Universal Internet of Things</h1>
            <hr/>
            <p>UIoT is a research project to create an universal, free,
                open-source and dynamic IoT architecture.</p>
            <br/>
            <a class="button white random-button">
                Watch teh Video!
            </a>
        </div>
    </div>
</section>