<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Universal Internet of Things Web Page">
    <meta name="keywords" content="IoT,IoE,Internet of Things,Machine Learning,Big Data,Automation,Home Automation,Universal IoT,Universal Internet of Things,Smart Home,Open Source IoT,GitHub,University of Brasilia,Open Source,Linux,Embedded Systems,Middleware,IoT Middleware,IoT Management System,Free IoT,Free Internet of Things,Automation,Home Automation,Smart Industry,Smart Energy,Smart Company,Smart Devices,IoE,Internet of Everything,TED,Innovation">
    <meta name="author" content="Universal Internet of Things">
    <meta name="theme-color" content="#7AA5BF">
    <meta name=”robots” content=”follow”>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}"/>
    <link rel="stylesheet" href="{{ '/css/foundation.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/uiot.css' | absolute_url }}">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://uiot.org",
      "logo": "https://uiot.github.io/img/uiot-final.png",
      "name": "Universal Internet of Things",
      "alternateName": "UIoT",
      "sameAs": [
        "http://www.facebook.com/universalinternetofthings",
        "https://www.youtube.com/channel/UCxgSdXcXLECqYB5mOSK5btQ"
      ]
    }
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NX3VDK5');</script>
    <!-- End Google Tag Manager -->
</head>
