<div class="grid-x">
    <div class="large-12 medium-12 small-12 cell">
        <div class="footer">
            <div class="grid-x grid-padding-x">
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>About</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small><a href="/about/#the-project">The project</a></small>
                        </li>
                        <li>
                            <small><a href="/about/#members">Members</a></small>
                        </li>
                        <li>
                            <small>Partners</small>
                        </li>
                    </ul>
                </div>
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>Guidelines</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small><a href="/about/#iot">IoT</a></small>
                        </li>
                        <li>
                            <small>Architecture</small>
                        </li>
                        <li>
                            <small>Use Cases</small>
                        </li>
                    </ul>
                </div>
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>Learn</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small>Academics</small>
                        </li>
                        <li>
                            <small><a href="{{ '/blog' | absolute_url }}">Blog</a></small>
                        </li>
                        <li>
                            <small><a href="http://docs.uiot.org/">Docs</a></small>
                        </li>
                    </ul>
                </div>
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>Software</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small><a href="https://github.com/uiot/raise">RAISe</a></small>
                        </li>
                        <li>
                            <small><a href="https://github.com/uiot/uims">UIMS</a></small>
                        </li>
                        <li>
                            <small><a href="https://github.com/uiot/gateway">Gateway</a></small>
                        </li>
                    </ul>
                </div>
                <div class="large-6 medium-4 cell">
                    <br>
                </div>
                <div class="large-2 medium-2 show-for-large-only cell">
                    <div class="callout primary">
                        <h5>Social
                            <small>network</small>
                        </h5>
                        <ul style="list-style: none;margin-left:0">
                            <li><i class="fi-social-github"></i>
                                <small><a target="_blank" href="https://github.com/UIoT/">GitHub</a></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="large-12 medium-12 small-12 cell hide-for-small-only">
                    <div class="copyright">
                        <b>© 2017 Universal Internet of Things</b><br>
                        <small style="display:block;margin-top: -5px">this project is maintained by the <a
                                href="http://www.unb.br">University of Brasília</a>.
                        </small>
                    </div>
                    <img src="{{ '/assets/svg/symbol-two.svg' | absolute_url }}">
                </div>
                <div class="small-12 cell show-for-small-only">
                    <center>
                        <b>&copy;2017 Universal Internet of Things</b><br>
                        <small style="display:block;margin-top: -5px">this project is maintained by the <a
                                href="http://www.unb.br">University of Brasília</a>.
                        </small>
                        <img style="float: none;margin: 60px 0 0 -15px;width: 100px"
                             src="{{ '/assets/svg/symbol-two.svg' | absolute_url }}">
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
