<div class="grid-x">
    <div class="large-12 medium-12 small-12 cell">
        <div class="footer">
            <div class="grid-x grid-padding-x">
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>We</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small>About</small>
                        </li>
                        <li>
                            <small>What we do</small>
                        </li>
                        <li>
                            <small>Join us</small>
                        </li>
                        <li>
                            <small>Partners</small>
                        </li>
                    </ul>
                </div>
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>About</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small>Architecture</small>
                        </li>
                        <li>
                            <small>Get Started</small>
                        </li>
                        <li>
                            <small>Use Cases</small>
                        </li>
                        <li>
                            <small>Examples</small>
                        </li>
                    </ul>
                </div>
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>Learn</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small>Github</small>
                        </li>
                        <li>
                            <small>Docs</small>
                        </li>
                        <li>
                            <small>API</small>
                        </li>
                        <li>
                            <small>Use Cases</small>
                        </li>
                    </ul>
                </div>
                <div class="large-1 medium-2 hide-for-small-only cell">
                    <b>Software</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small>RAISe</small>
                        </li>
                        <li>
                            <small>UIMS</small>
                        </li>
                        <li>
                            <small>Gateway</small>
                        </li>
                        <li>
                            <small>DeviceOS ®</small>
                        </li>
                    </ul>
                </div>
                <div class="large-2 medium-3 hide-for-small-only cell">
                    <b>Devices</b>
                    <ul style="list-style: none;margin-left:0">
                        <li>
                            <small>UIoT LEGO ®</small>
                        </li>
                        <li>
                            <small>Use Cases</small>
                        </li>
                        <li>
                            <small>Future Projects</small>
                        </li>
                        <li>
                            <small>About</small>
                        </li>
                    </ul>
                </div>
                <div class="large-4 medium-4 cell">
                    <br>
                </div>
                <div class="large-2 medium-2 show-for-large-only cell">
                    <div class="callout primary">
                        <h5>Social
                            <small>networks</small>
                        </h5>
                        <ul style="list-style: none;margin-left:0">
                            <li><i class="fi-social-facebook"></i>
                                <small>Facebook</small>
                            </li>
                            <li><i class="fi-social-github"></i>
                                <small>GitHub</small>
                            </li>
                            <li><i class="fi-social-youtube"></i>
                                <small>Youtube</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="large-12 medium-12 small-12 cell hide-for-small-only">
                    <div class="copyright">
                        <b>© 2017 Universal Internet of Things</b><br>
                        <small style="display:block;margin-top: -5px">this project is maintained by the <a
                                href="http://www.unb.br">University of Brasília</a>.
                        </small>
                    </div>
                    <img src="{{ '/assets/svg/symbol-two.svg' | absolute_url }}">
                </div>
                <div class="small-12 cell show-for-small-only">
                    <center>
                        <b>&copy;2017 Universal Internet of Things</b><br>
                        <small style="display:block;margin-top: -5px">this project is maintained by the <a
                                href="http://www.unb.br">University of Brasília</a>.
                        </small>
                        <img style="float: none;margin: 60px 0 0 -15px;width: 100px"
                             src="{{ '/assets/svg/symbol-two.svg' | absolute_url }}">
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
