<div class="grid-x grid-padding-x" style="margin-top: 40px" data-equalizer>
    <div class="large-12 medium-12 small-12 cell">
        <h3 style="color: #6F71BC"><a id="iot"></a>The <b>Internet of Things</b></h3>
    </div>
    <div class="large-12 medium-12 small-12 cell" data-equalizer-watch>

      {% assign gubbi_iot_vision_2013 = site.data.about.references | where:"id", "gubbi_iot_vision_2013" | first %}
      {% assign perera_context_iot_2014 = site.data.about.references | where:"id", "perera_context_iot_2014" | first %}
      {% assign silva_autorregistro_2016 = site.data.about.references | where:"id", "silva_autorregistro_2016" | first %}
      {% assign botta_cc_iot_2014 = site.data.about.references | where:"id", "botta_cc_iot_2014" | first %}

      <div class="default-content-text">

        <p>IoT is a paradigm of building computational systems. {{gubbi_iot_vision_2013.cite_authors}} defines IoT as a paradigm where some of the objects around us will somehow be in the network in order to extend the capabilities of the environment. {{perera_context_iot_2014.cite_authors}} highlights that IoT allows people, things and environment to be connected with no constraint of time or place, in any available interaction way.</p>

        <p>In turn, {{gubbi_iot_vision_2013.cite_authors}} emphasizes that in the Internet of the Future, "real world" objects will be part of the network, providing information and actions for other resources with access to the worldwide network. With the integration of so-called "smart objects" to the Internet, the term Internet of Things (IoT) was born. According to {{perera_context_iot_2014.cite_authors}}, IoT will allow all kind of objects be connected to the Internet and interact each other with minimum human intervention.</p>

        <img src="/assets/img/iot-architecture.png" class="right-img-in-text default-border" alt="An IoT architecture" title="IoT architecture" width="50%" align="right"></img>

        <p>{{silva_autorregistro_2016.cite_authors}} cites three possible scenarios in which these interactions may occur: temporarily, concomitantly and in a mobile way. For instance, when a person moves with their smartphone from home to work, the phone can be part of their home IoT network, their vehicle, their body (network built from devices in their clothing), their route (network in the path) and their work.</p>

        <p>Furthermore, {{botta_cc_iot_2014.cite_authors}}, {{gubbi_iot_vision_2013.cite_authors}} and {{perera_context_iot_2014.cite_authors}} emphasize that IoT differs from sensor networks because it brings intelligence to its domain, turning information and actions into knowledge. In this way, this knowledge feeds back the network, creating new actions and information.</p>

        <p>The growth in the number of connected devices and the search for devices that act on people’s daily life signal that IoT will represent a significant portion of the use of computing resources and Internet. According to {{gubbi_iot_vision_2013.cite_authors}}, the number of devices connected to the Internet is expected to jump from 9 billion in 2013 to 24 billion in 2020. In addition to this growth in the number of devices, they will flood Internet traffic with information and operations at every moment.</p>

        <p>An inherent feature of IoT is that much of the communication between smart objects and middleware is performed by M2M communication, usually via SOAP or REST web services. This gives the middleware a lot of influence of SOA.</p>

      </div>

      <h5>Cited references</h5>

      <ul>
        <li>{{botta_cc_iot_2014.authors}}. {{botta_cc_iot_2014.date}}. {{botta_cc_iot_2014.title}}.</li>
        <li>{{gubbi_iot_vision_2013.authors}}. {{gubbi_iot_vision_2013.date}}. {{gubbi_iot_vision_2013.title}}.</li>
        <li>{{perera_context_iot_2014.authors}}. {{perera_context_iot_2014.date}}. {{perera_context_iot_2014.title}}.</li>
        <li>{{silva_autorregistro_2016.authors}}. {{silva_autorregistro_2016.date}}. {{silva_autorregistro_2016.title}}.</li>
      <ul>

    </div>
</div>
