<h2>UIoT section</h2>

<p>The Universal Internet of Thing (UIoT) project emerged at a University of Brasília reasearch early in 2010's.</p>

<h4>phase 1</h4>
After discussions in [12], [14] and [13], [11] proposes an IoT middleware architecture to “control and notify the current state of generic devices”. In his proposal, he specifies the physical and logical components of that architecture that allow interaction with these smart objects, as well as defines its API and the use of UPnP for device discovery.

<h4>phase 2</h4>
In [27], this view is refined and evolved, consolidating the architecture protocols and the API in RAISe.

<h4>phase 3</h4>
In [28], It is proposed to replace the UPnP by a self-registration mechanism in which the device itself, aware of its context, becomes responsible for the initiative of its participation in the network.

<p>We are just in the beginning...</p>
