<div class="grid-x grid-padding-x" style="margin-top: 40px" data-equalizer>
    <div class="large-12 medium-12 small-12 cell">
        <h3 style="color: #6F71BC"><a id="the-project"></a><b>UIoT</b> project</h3>
    </div>
    <div class="large-12 medium-12 small-12 cell" data-equalizer-watch>

        <p>The Universal Internet of Thing (UIoT) project emerged from a <a href="https://www.ene.unb.br/">PPGEE</a>'s research at of <a href="https://www.unb.br/">University of Brasília</a> early in 2010's.</p>

        <p>At the beginning, the project proposes an IoT middleware architecture to <i>control and notify the current state of generic devices</i>.
        That proposal specifies the physical and logical components of the architecture that allow interaction with these smart objects, as well as defines its API and the use of UPnP for device discovery.
        In 2015, this IoT view was refined and evolved through consolidating the architecture protocols and the API. RAISe is the product of these path.</p>

        <p>In 2016, the registration and admission control move from UPnP to self-registration.
        The self-registration mechanism consists one that the device itself, aware of its context, becomes responsible for the initiative of its participation in the network.</p>

        <p>On the other side, we are working on objects' interoperability as communication issues between those objects and the middleware.</p>

        <p>We are just in the beginning, more to come...</p>

    </div>
</div>
