<div class="footer">
    <div class="row">
        <div class="large-2 columns">
            <b>Useful Links</b>
            <ul>
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
            </ul>
        </div>
        <div class="large-2 columns">
            <b>Social Networks</b>
            <ul>
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
            </ul>
        </div>
        <div class="large-2 columns">
            <b>Academics</b>
            <ul>
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
            </ul>
        </div>
        <div class="large-2 columns">
            <b>Latest on Blog</b>
            <ul>
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
            </ul>
        </div>
        <div class="large-2 columns">
            <center>
                <img src="{{ '//img/uiot.svg' | absolute_url }}" style="width: 100px;"/>
                <br><br>
                <small>© 2017 Universal Internet of Things</small>
            </center>
        </div>
        <div class="large-2 columns">
            <center>
                <img src="{{ '//img/unb-sticker.png' | absolute_url }}"  style="width: 73px;"/>
                <br><br>
                <small>© 2017 University of Brasília, Brazil</small>
            </center>
        </div>
    </div>
</div>