---
layout: about
title: About UIoT
css: get/started/assets/css.html
js: get/started/assets/js.html
---
<div class="responsive-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell">
            <h2 class="section-title" style="color: #555">
                About UIoT</h2>
        </div>
    </div>

    {% include about/sections/iot.html %}

    {% include about/sections/theproject.html %}

    {% include about/sections/members.html %}

</div>
<div id="js-heightControl" style="height: 0">&nbsp;</div>
