<div class="grid-x">
    <div class="large-12 cell">
        <div class="top-bar">
            <ul class="menu">
                <li class="menu-text" onclick="openPage('{{ 'index' | absolute_url }}')">
                    <img src="{{ '/assets/svg/symbol.svg' | absolute_url }}">
                    <span>uiot</span>
                </li>
            </ul>
            <div class="top-bar-right show-for-large show-for-medium">
                <ul class="menu-menu menu">
                    <li>
                        <span onclick="openPage('{{ '/index' | absolute_url }}')">about</span>
                    </li>
                    <li>
                        <span style="color: #d3dae2">get started</span>
                    </li>
                    <li>
                        <span onclick="openPage('http://docs.uiot.org/')">docs</span>
                    </li>
                    <li style="padding: 0">
                        <button data-open="explore-modal" class="mega-button" data-toggle="example-dropdown">download</button>
                        <div class="dropdown-pane" style="border:none;background:transparent;padding:0px;" id="example-dropdown" data-dropdown data-auto-focus="true">
                            <div class="callout code" style="margin-top: 25px;">
                                <h5>Available downloads</h5>
                                <ul style="background:none;height:auto; list-style: none;">
                                    <li>RAISe <b class="label secondary" style="font-size:10px;border-radius:4px">v1.1.1</b></li>
                                    <li>RAISe <b class="label secondary" style="font-size:10px;border-radius:4px">v1.1.1</b></li>
                                    <li>RAISe <b class="label secondary" style="font-size:10px;border-radius:4px">v1.1.1</b></li>
                                    <li>RAISe <b class="label secondary" style="font-size:10px;border-radius:4px">v1.1.1</b></li>
                                    <li>RAISe <b class="label secondary" style="font-size:10px;border-radius:4px">v1.1.1</b></li>
                                    <li>RAISe <b class="label secondary" style="font-size:10px;border-radius:4px">v1.1.1</b></li>
                                    <li>RAISe <b class="label secondary" style="font-size:10px;border-radius:4px">v1.1.1</b></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>