#js-heightcontrol {
    height:0
}

#map_canvas {
    border-radius:4px;
    height:100px;
    width:auto
}

.announce {
    display:flex;
    flex:3
}

.announce button {
    background:#41444e;
    border:none;
    border-radius:0 4px 4px 0;
    color:#fff;
    padding:4px 40px
}

.announce div {
    background:#FFF;
    border:2px solid #41444e;
    border-radius:4px 0 0 4px;
    margin:0;
    padding:8px 10px;
    width:100%
}

.bg img {
    height:80px;
    margin-top:-20px;
    width:120px
}

.bg span {
    color:#8385D0;
    display:inline-flex;
    font-family:Titillium Web, sans-serif;
    font-size:1.7em;
    font-weight:700;
    margin:30px 0 0 -20px
}

.box {
    background:#d3dae2;
    border:none;
    border-radius:4px;
    color:#3b4151;
    font-family:Source Code Pro, monospace;
    font-size:12px;
    font-weight:600;
    padding:10px
}

.callout h5 {
    color:#777;
    font-family:Titillium Web, sans-serif;
    font-size:16px;
    font-weight:700
}

.callout,map > div,#map_canvas > div {
    border-radius:4px
}

.callout.alert {
    background:rgba(249,62,62,.1);
    border-color:#f93e3e
}

.callout.info {
    background:rgba(97,175,254,.1);
    border-color:#61affe
}

.callout.primary {
    background:rgba(0,0,0,.05);
    border:none;
    color:#555;
    font-family:Titillium Web, sans-serif
}

.callout.primary .h5 {
    margin-bottom:0
}

.callout.primary h5 {
    color:#555;
    font-family:Titillium Web, sans-serif;
    font-size:16px;
    font-weight:700
}

.callout.success {
    background:rgba(73,204,144,.1);
    border-color:#49cc90
}

.callout.table {
    border:1px solid rgba(59,65,81,.3);
    padding:0
}

.callout.table h4 {
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center;
    color:#777;
    cursor:pointer;
    display:flex;
    font-family:Titillium Web, sans-serif;
    font-size:16px;
    font-weight:700;
    margin:0;
    padding:10px 20px 10px 10px;
    transition:all .2s
}

.callout.table h4 span {
    -ms-flex:1;
    -webkit-box-flex:1;
    flex:1
}

.callout.table h4 svg {
    transition:all .4s
}

.callout.table.is-open .table-content {
    display:block
}

.callout.table.is-open h4 {
    border-bottom:1px solid rgba(59,65,81,.3);
    margin:0 0 5px
}

.callout.table.is-open h4 svg {
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg)
}

.callout.warning {
    background:rgba(252,161,48,.1);
    border-color:#fca130
}

.code {
    background:#41444e;
    border:none;
    border-radius:4px;
    color:#fff;
    font-family:Source Code Pro, monospace;
    font-size:12px;
    font-weight:600
}

.footer {
    background:#fff;
    bottom:0;
    box-shadow:0 -4px 10px -4px rgba(0,0,0,.15);
    height:100px;
    margin:20px 0 0;
    overflow:hidden;
    padding:30px;
    position:relative
}

.footer img {
    float:right;
    margin:-10px -105px 0 0;
    position:relative;
    width:200px
}

.grid-container {
    margin:0 0 0 70px
}

.info p {
    color:#3b4151;
    font-family:Open Sans, sans-serif;
    font-size:14px
}

.label {
    border-radius:57px
}

.label.secondary {
    background:#7d8492
}

.mega-button {
    background:#6F71BC;
    border:none;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    font-family:Titillium Web, sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:1.7;
    margin:0;
    padding:4px 40px
}

.menu .menu-text {
    cursor:pointer
}

.method {
    background:#000;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    font-family:Titillium Web, sans-serif;
    font-size:14px;
    font-weight:700;
    min-width:80px;
    padding:6px 15px;
    text-align:center;
    text-shadow:0 1px 0 rgba(0,0,0,.1)
}

.method.alert {
    background:#f93e3e;
    border-color:#f93e3e
}

.method.info {
    background:#61affe
}

.method.secondary {
    background:#777
}

.method.success {
    background:#49cc90
}

.method.warning {
    background:#fca130
}

.reveal {
    border:none;
    border-radius:4px;
    box-shadow:0 1px 4px 0 rgba(0,0,0,.15);
    outline:none
}

.saw {
    color:#3b4151;
    cursor:pointer;
    font-family:Titillium Web, sans-serif;
    font-size:12px;
    font-weight:300;
    padding:0
}

.search_results,.search_results li {
    list-style:none;
    margin:0
}

.see {
    color:#3b4151;
    font-family:Source Code Pro, monospace;
    font-size:12px;
    font-weight:300!important;
    margin:0
}

.see-button {
    -webkit-appearance:none;
    background:#f7f7f7 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICAgIDxwYXRoIGQ9Ik0xMy40MTggNy44NTljLjI3MS0uMjY4LjcwOS0uMjY4Ljk3OCAwIC4yNy4yNjguMjcyLjcwMSAwIC45NjlsLTMuOTA4IDMuODNjLS4yNy4yNjgtLjcwNy4yNjgtLjk3OSAwbC0zLjkwOC0zLjgzYy0uMjctLjI2Ny0uMjctLjcwMSAwLS45NjkuMjcxLS4yNjguNzA5LS4yNjguOTc4IDBMMTAgMTFsMy40MTgtMy4xNDF6Ii8+PC9zdmc+) right 10px center no-repeat;
    background-size:20px;
    border:2px solid #41444e;
    border-radius:4px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,.25);
    color:#3b4151;
    float:right;
    font-family:Titillium Web, sans-serif;
    font-size:14px;
    font-weight:700;
    padding:5px 40px 5px 10px
}

.table-content {
    display:none;
    height:auto
}

.table-content ul {
    list-style:none;
    margin:20px
}

.title {
    color:#3b4151;
    font-family:Open Sans, sans-serif;
    font-size:36px;
    font-weight:700;
    margin:0
}

.title small {
    background:#7d8492;
    border-radius:57px;
    display:inline-block;
    font-size:10px;
    margin:0 0 0 5px;
    padding:2px 4px;
    position:relative;
    top:-5px;
    vertical-align:super
}

.title small pre {
    color:#fff;
    font-family:Titillium Web, sans-serif;
    margin:0
}

.top-bar {
    padding:8px 30px
}

.top-bar ul button {
    margin:11px
}

.top-bar ul img {
    height:40px;
    margin:-10px 0 0 4px;
    width:80px
}

.top-bar ul span {
    display:inline-flex;
    font-size:1.5em;
    margin:5px 0 0 -14px
}

.top-bar,.top-bar,.top-bar ul {
    background:#8385D0;
    color:#FFF;
    height:56px
}

body {
    background:#fafafa;
    font-family:'Titillium Web', serif!important
}

button {
    cursor:pointer;
    outline:none
}

button.secondary {
    border:2px solid #41444e;
    color:#3b4151;
    display:inline
}

button.success {
    border-color:#49cc90;
    color:#49cc90;
    display:inline
}

button.transparent {
    background:#FFF;
    border:2px solid #888;
    border-radius:4px;
    box-shadow:0 1px 2px rgba(0,0,0,.1);
    font-family:Titillium Web, sans-serif;
    font-size:14px;
    font-weight:700;
    line-height:1.5rem;
    padding:5px 23px;
    transition:all .3s
}

hr {
    background:rgba(59,65,81,.3)
}

input[type=text],input[type=password],input[type=email] {
    background:#fff;
    border:2px solid #8385D0;
    border-radius:4px;
    margin:0;
    outline:none;
    width:100%
}

label {
    color:#3b4151
}

select {
    -moz-appearance:none;
    -webkit-appearance:none;
    background:#f7f7f7 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…45NjkuMjcxLS4yNjguNzA5LS4yNjguOTc4IDBMMTAgMTFsMy40MTgtMy4xNDF6Ii8+PC9zdmc+) right 10px center no-repeat;
    background-size:20px;
    border:2px solid #41444e;
    border-radius:4px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,.25);
    color:#3b4151;
    font-family:Titillium Web, sans-serif;
    font-size:14px;
    font-weight:700;
    padding:5px 40px 5px 10px
}