.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img.member-photo {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.centralizada img {
    margin: 100px;
}
