---
layout: blog
title: Blog UIoT
css: about/assets/css.html
js: about/assets/js.html
---
<div class="responsive-container" style="margin-top: 80px">

  <div class="grid-x grid-padding-x">
    <!-- <div class="large-12 medium-12 small-12 cell"> -->

      <div class="large-9 medium-9 small-9 cell">
          {% include blog/sections/postlist.html %}
      </div>

      <div class="large-3 medium-3 small-3 cell">
          {% include blog/sections/tagsummary.html %}
          {% include blog/sections/archives.html %}
      </div>

    </div>
  <!-- </div> -->

</div>
