<section class="blog-section">
    <div class="row">
        <div class="large-6 medium-6 small-12 columns hide-for-small-only">
            {% assign post = site.posts.first %}
            <h2>{{ post.title }}</h2>
            <p><b>Author:</b> {{ post.author }}</p>
            <p class="blog-entry">
                {{ post.resume }}
                {% capture content_words %}
                {{ post.content | number_of_words }}
                {% endcapture %}
                {% capture excerpt_words %}
                {{ post.resume | number_of_words }}
                {% endcapture %}
            </p>
            {% if excerpt_words != content_words %}
            <a href="{{ post.url }}#disqus_thread">See the full post by clicking here.</a>
            {% endif %}
        </div>
        <div class="large-6 medium-6 small-12 columns show-for-small-only">
            {% assign post = site.posts.first %}
            <h2>{{ post.title }}</h2>
            <p><b>Author:</b> {{ post.author }}</p>
            <p class="blog-entry">
                {{ post.resume }}
                {% capture content_words %}
                {{ post.content | number_of_words }}
                {% endcapture %}
                {% capture excerpt_words %}
                {{ post.resume | number_of_words }}
                {% endcapture %}
            </p>
            {% if excerpt_words != content_words %}
            <a href="{{ post.url }}#disqus_thread">See the full post by clicking here.</a>
            {% endif %}
        </div>
        <div class="large-5 medium-6 columns hide-for-small-only">
            <h1>Latest Blog Post</h1>
            <hr/>
            <p>Check the latest post in our blog, and if you like it, take a look at our UIoT blog page and share to
                help us to keep our work going on.</p>
        </div>
    </div>
</section>