<section class="companies-section hide-for-small-only">
    <h2>Meet the <b>Companies</b> that helps <b>UIoT</b> to be what we are.</h2>
    <div class="companies-list">
        <div class="company-entry pos-active">
            <img src="{{ '/img/logos/microsoft-bizspark.png' | absolute_url }}" style="max-height: 40px;"
                 onclick="window.open('https://bizspark.microsoft.com/', '_blank');">
            <img src="{{ '/img/logos/jetbrains.png' | absolute_url }}" style="max-height: 120px;"
                 onclick="window.open('https://jetbrains.com', '_blank');">
            <img src="{{ '/img/logos/ibm-gep.png' | absolute_url }}" style="max-height: 80px;"
                 onclick="window.open('https://developer.ibm.com/startups/', '_blank');">
            <img src="{{ '/img/logos/unb-latitude.png' | absolute_url }}"
                 onclick="window.open('http://latitude.eng.br', '_blank');">
        </div>
        <div class="company-entry pos-hidden">
            <img src="{{ '/img/logos/malwarebytes.png' | absolute_url }}" style="max-height: 40px;"
                 onclick="window.open('https://malwarebytes.com', '_blank');">
            <!--<img src="{{ '/img/logos/devmind.png' | absolute_url }}"
                 onclick="window.open('https://devmind.io', '_blank');">-->
            <img src="{{ '/img/logos/google-launchpad.png' | absolute_url }}" style="max-height: 50px;"
                 onclick="window.open('https://developers.google.com/', '_blank');">
            <img src="{{ '/img/logos/zenhub.png' | absolute_url }}" style="max-height: 40px;"
                 onclick="window.open('https://zenhub.com', '_blank');">
        </div>
        <div class="company-entry pos-hidden">
            <img src="{{ '/img/logos/navicat.png' | absolute_url }}"
                 onclick="window.open('https://www.navicat.com', '_blank');">
            <img src="{{ '/img/logos/github.png' | absolute_url }}" style="max-height: 35px;"
                 onclick="window.open('https://education.github.com', '_blank');">
            <img src="{{ '/img/logos/bizagi.png' | absolute_url }}"
                 onclick="window.open('https://bizagi.com', '_blank');">
            <img src="{{ '/img/logos/splunk.png' | absolute_url }}" style="max-height: 50px;"
                 onclick="window.open('https://splunk.com', '_blank');">
        </div>
        <div class="company-entry pos-hidden">
            <img src="{{ '/img/logos/fb-workplace.png' | absolute_url }}"
                 onclick="window.open('https://workplace.fb.com/', '_blank');">
            <img src="{{ '/img/logos/firefox-friends.png' | absolute_url }}" style="max-height: 80px;"
                 onclick="window.open('https://www.mozilla.org/en-US/about/partnerships/', '_blank');">
            <img src="{{ '/img/logos/unb.png' | absolute_url }}" style="max-height: 50px;"
                 onclick="window.open('http://www.unb.br', '_blank');">
            <img src="{{ '/img/logos/salesforce.png' | absolute_url }}"
                 onclick="window.open('https://startups.salesforce.com/', '_blank');">
        </div>
        <div class="company-entry pos-hidden">
            <img src="{{ '/img/logos/aws-partners.png' | absolute_url }}"
                 onclick="window.open('https://aws.amazon.com/partners/', '_blank');">
            <img src="{{ '/img/logos/google-education.png' | absolute_url }}"
                 onclick="window.open('https://www.google.com/edu/', '_blank');">
            <img src="{{ '/img/logos/mongodb.png' | absolute_url }}" style="max-height: 50px;"
                 onclick="window.open('https://www.mongodb.com/partners', '_blank');">
            <img src="{{ '/img/logos/aws-activate.png' | absolute_url }}"
                 onclick="window.open('https://aws.amazon.com/activate/', '_blank');">
        </div>
        <div class="balls"></div>
    </div>
</section>