<section class="discovering-section">
    <div class="row">
        <div class="large-6 medium-4 columns hider-for-small-only">
            <br/>
        </div>
        <div class="large-5 small-12 medium-6 columns">
            <h1 class="hide-for-small-only">Discovering with You</h1>
            <h1 class="show-for-small-only" style="font-size: 280%;line-height: 40px;">Discovering with You</h1>
            <hr/>
            <p>UIoT team works with you and for you to create a new IoT concept. By collaborating with our partners, we
                maximize your interaction and experience with our smart networks.</p>
            <br/>
            <a class="button white-blue">Get Involved</a>
        </div>
    </div>
</section>