<section class="smart-section">
    <div class="main row">
        <div class="small-2 hide-for-medium hide-for-large columns">
            <br/>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <h1 class="hide-for-small-only">Let's be smart</h1>
            <h1 class="show-for-small-only" style="font-size: 280%;line-height: 40px;">Let's be smart</h1>
            <hr/>
            <p>
                <b>UIoT</b> architecture was constructed by academic papers, many people contribute to improve, and
                evolve,
                UIoT to a whole new level. Get involved, contribute to UIoT. We endorse academic works. We do academic
                works.
            </p>
            <a class="button colored float-right">UIoT Academics</a>
        </div>
        <div class="large-2 medium-2 columns">
            <br/>
        </div>
        <div class="large-6 medium-6 columns hide-for-small-only">
            <img src="{{ '/img/smart.png' | absolute_url }}"/>
        </div>
    </div>
</section>