---
layout: amp
---
<!DOCTYPE html>
<html ⚡ lang="en">
  {% include amp/head.html %}
  <body>
    {% include amp/header.html %}
    <main class="content" role="main">
      <article class="post">
        <div class="post-meta">
          <h1 class="post-title">{{ page.title }}</h1>
        </div>
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
        <footer class="post-footer">
          <section class="share">
            <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
              Share on
              {% include amp/icon-twitter.html %}
            </a>
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <h4>{{ page.author }}</h4>
              <p>
                <span>
                  {% if site.github_username %}
                    {% include amp/icon-github.html username=site.github_username %}
                  {% endif %}
                </span>
                <span>
                  {% if site.twitter_username %}
                    {% include amp/icon-twitter.html username=site.twitter_username %}
                  {% endif %}
                </span>
              </p>
              <hr>
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
            </section>
          </div>
        </div>
      </article>
    </main>
    {% comment %}
        {% include amp/analytics.html %}
    {% endcomment %}
  </body>
</html>
