---
layout: skeleton
title: Overwrite this title
---
<head>

    <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700"
          rel="stylesheet">
    <link rel="stylesheet" href="assets/css/foundation.min.css">
    <link rel="stylesheet" href="assets/css/app.min.css">
    <link rel="stylesheet" href="assets/icons/foundation-icons.min.css">

</head>
<body>

    <div class="off-canvas-wrapper">
        {{ content }}
    </div>
    <div id="js-heightControl" style="height: 0">&nbsp;</div>

    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/foundation.min.js"></script>
    <script src="assets/js/app/app.min.js"></script>


</body>
