<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Universal Internet of Things Web Page">
    <meta name="keywords" content="IoT,IoE,Internet of Things,Machine Learning,Big Data,Automation,Home Automation">
    <meta name="author" content="Universal Internet of Things">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}"/>
</head>
{% capture included_capture %}
{% include foundation.css %}
{% include uiot.css %}
{% endcapture %}
<style>
    {{ included_capture | scssify | strip_newlines }}
</style>
<body>
{% if page.active == "home" %}
<script>
    var buttonYeah = ['Love IoT?', 'Watch our Video!', 'You Rockz!', 'Get Started!', 'Wanna see amazing things?', 'Keep it real!', 'What is UIoT?!!'];
    var buttonYeahRandom = buttonYeah[Math.floor(Math.random() * buttonYeah.length)];
</script>
<section class="header-section">
    <div class="header row">
        <div class="hide-for-small-only large-6 medium-6 columns">
            <a href="{{ site.globalurl }}" class="limage">
                <div class="ripples">
                    <div class="ripple ripple-1"></div>
                    <div class="ripple ripple-2"></div>
                    <div class="ripple ripple-3"></div>
                </div>
                <img class="limage" src="{{ site.globalurl }}/img/uiot.svg"/>
            </a>
        </div>
        <div class="hide-for-small-only large-6 medium-6 columns">
            <ul>
                <li class="active"><a href="{{ site.globalurl }}/">Home</a></li>
                <li><a href="{{ site.globalurl }}/about/">About</a></li>
                <li><a href="{{ site.globalurl }}/blog/">Blog</a></li>
                <li><a href="{{ site.globalurl }}/">Get Started</a></li>
            </ul>
        </div>
    </div>
    <div class="main row">
        <div class="hide-for-small-only large-7 medium-6 columns">
            <img src="{{ site.globalurl }}/img/notebook.png"/>
        </div>
        <div class="right large-5 medium-6 columns">
            <h1 class="hide-for-small-only">Universal Internet of Things</h1>
            <h1 class="show-for-small-only" style="font-size: 330%;line-height: 50px;">Universal Internet of Things</h1>
            <hr/>
            <p>UIoT is a research project to create an universal, free,
                open-source and dynamic IoT architecture.</p>
            <br/>
            <a class="button white"><script>document.write(buttonYeahRandom);</script></a>
        </div>
    </div>
</section>
{% else %}
<section class="header-section header-small">
    <div class="header row">
        <div class="hide-for-small-only large-6 medium-6 columns">
            <a href="{{ site.globalurl }}" class="limage"><img class="limage" src="{{ site.globalurl }}/img/uiot.svg"/></a>
        </div>
        <div class="hide-for-small-only large-6 medium-6 columns">
            <ul>
                <li><a href="{{ site.globalurl }}/">Home</a></li>
                {% if page.active == "about" %}
                <li class="active"><a href="{{ site.globalurl }}/about/">About</a></li>
                {% else %}
                <li><a href="{{ site.globalurl }}/about/">About</a></li>
                {% endif %}
                {% if page.active == "blog" %}
                <li class="active"><a href="{{ site.globalurl }}/blog/">Blog</a></li>
                {% else %}
                <li><a href="{{ site.globalurl }}/blog/">Blog</a></li>
                {% endif %}
                {% if page.active == "start" %}
                <li class="active"><a href="{{ site.globalurl }}/start/">Get Started</a></li>
                {% else %}
                <li><a href="{{ site.globalurl }}/start/">Get Started</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
{% endif %}
<script src="{{ site.globalurl }}/js/jquery.js"></script>
{{ content }}
<section class="footer-section">
    <div class="involve row">
        <div class="large-1 medium-1 hide-for-small-only columns">
            <br/>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li><h2>About</h2></li>
                <li><p>UIoT is an open-source middleware dedicated to
                    managing services in Internet-of-Things environments.</p>
                </li>
            </ul>
        </div>
        <div class="large-2 medium-2 small-6 columns">
            <ul>
                <li><h2>Links</h2></li>
                <li><a href="{{ site.globalurl }}">Home</a></li>
                <li><a href="{{ site.globalurl }}/about/">About</a></li>
                <li><a href="{{ site.globalurl }}/blog/">Blog</a></li>
                <li><a href="{{ site.globalurl }}/start/">Get Started</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 hide-for-small-only columns">
            <ul>
                <li><h2>Latest Posts</h2></li>
                {% for post in site.posts %}
                <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="large-3 medium-3 hide-for-small-only columns">
            <ul>
                <li><h2>Social Media</h2></li>
                <li><a href="https://github.com/uiot">GitHub</a></li>
                <li><a href="https://fb.com/universalinternetofthings">Facebook</a></li>
                <li><a href="http://www.unb.br">UnB</a></li>
                <li><a>Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="row show-for-small-only">
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li><h2>Latest Posts</h2></li>
                {% for post in site.posts %}
                <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li><h2>Social Media</h2></li>
                <li><a href="https://github.com/uiot">GitHub</a></li>
                <li><a href="https://fb.com/universalinternetofthings">Facebook</a></li>
                <li><a href="http://www.unb.br">UnB</a></li>
                <li><a>Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="hide-for-small-only large-12 medium-12 columns">
            <p class="copyright">Copyright 2016 Universal Internet of Things, All Rights Reserved <br/>
                <small>Build on {{ site.time | date_to_string }} | <b>VERSION.: {{ site.github.build_revision }}</b>
                </small>
            </p>
        </div>
    </div>
</section>
{% if page.comments %}
<script id="dsq-count-scr" src="//universal-internet-of-things.disqus.com/count.js" async></script>
{% endif %}
</body>
</html>
