<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Universal Internet of Things Web Page">
    <meta name="keywords" content="IoT,IoE,Internet of Things,Machine Learning,Big Data,Automation,Home Automation">
    <meta name="author" content="Universal Internet of Things">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ site.globalurl }}/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ site.globalurl }}/css/uiot.css">
    <link rel='shortcut icon' type='image/x-icon' href='{{ site.globalurl }}/favicon.ico'/>
</head>
<body>
<script src="{{ site.globalurl }}/js/jquery.js"></script>
{{ content }}
<section class="footer-section">
    <div class="involve">
        <ul>
            <li><h2>About</h2></li>
            <li><p>UIoT is an open-source middleware dedicated to
                managing services in Internet-of-Things environments.</p>
            </li>
        </ul>
        <ul>
            <li><h2>Links</h2></li>
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Blog</a></li>
            <li><a>Get Started</a></li>
        </ul>
        <ul>
            <li><h2>Latest Posts</h2></li>
            {% for post in site.posts %}
            <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        <ul>
            <li><h2>Social Media</h2></li>
            <li><a>GitHub</a></li>
            <li><a>Facebook</a></li>
            <li><a>UnB</a></li>
            <li><a>Instagram</a></li>
        </ul>
        <p class="copyright">Copyright 2016 Universal Internet of Things, All Rights Reserved <br/>
            <small>Build on {{ site.time | date_to_string }} | <b>VERSION.: {{ site.github.build_revision }}</b></small>
        </p>
    </div>
</section>
{% if page.comments %}
    <script id="dsq-count-scr" src="//universal-internet-of-things.disqus.com/count.js" async></script>
{% endif %}
</body>
</html>
