<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Universal Internet of Things Web Page">
    <meta name="keywords" content="IoT,IoE,Internet of Things,Machine Learning,Big Data,Automation,Home Automation">
    <meta name="author" content="Universal Internet of Things">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/uiot.css">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'/>
</head>
<body>
<script src="js/jquery.js"></script>
{{ content }}
</body>
</html>
