<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Universal Internet of Things Web Page">
    <meta name="keywords" content="IoT,IoE,Internet of Things,Machine Learning,Big Data,Automation,Home Automation">
    <meta name="author" content="Universal Internet of Things">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}"/>
</head>
{% capture included_capture %}
{% include foundation.css %}
{% include uiot.css %}
{% endcapture %}
<style>
    {{ included_capture | scssify | strip_newlines }}
</style>
<body>
{{ content }}
</body>
</html>
