---
layout: default
comments: true
active: blog
---
<section class="header-section header-small">
    <div class="header">
        <img src="{{ site.globalurl }}/img/uiot.svg"/>
        <ul>
            <li><a href="{{ site.globalurl }}/">Home</a></li>
            <li><a href="{{ site.globalurl }}/about/">About</a></li>
            <li class="active"><a href="{{ site.globalurl }}/blog/">Blog</a></li>
            <li><a href="{{ site.globalurl }}/">Get Started</a></li>
        </ul>
    </div>
</section>
<section class="blog-post-section">
    <div class="details">
        <h1>{{ page.title }}</h1>
        <small><b>Author:</b> {{ page.author }}</small>
    </div>
    <div class="content">
        {{ content }}
    </div>
    <div id="disqus_thread"></div>
    <script>
        (function () {
            var d = document, s = d.createElement('script');
            s.src = '//universal-internet-of-things.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
</section>
