<section class="tags">


  <div id="archives">
    <p>Blog tags:</p>

<p>
  {% for tag in site.tags %}
    <div class="archive-group">
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <div id="#{{ tag_name | slugize }}"></div>
      <!-- <p></p> -->

      <span class="category-head"><a name="{{ tag_name | slugize }}">{{ tag_name }}</a>, </span>
      <!-- {% for post in site.tags[tag_name] %}
      <article class="archive-item">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
      </article>
      {% endfor %} -->
    </div>
  {% endfor %}
</p>
  </div>


</section>
